<!doctype html>
<html lang="en">


<div class="container py-5">
    <footer class="fixed-bottom">
        <div class="text-center py-1 bg-dark text-light">
            <div class="d-flex justify-content-center align-items-center">
                <div class="mx-2 small">
                        <span class="text-white-50">Copyright &copy; 2022 </span>
                        Caroline Clark
                        </a>
                </div>                    
                <div class="mx-2">
                    <a 
                        href="https://github.com/cxclark" 
                        class="btn btn-outline-light btn floating m-1"
                        role="button">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
                <div>
                    <a 
                        href="https://linkedin.com/in/cxclark" 
                        class="btn btn-outline-light btn floating m-1"
                        role="button">
                        <i class="bi bi-linkedin"></i>
                    </a>
                </div>                    
            </div>
        </div>

    </footer>
</div>    

</html>