<!doctype html>
<html lang="en">

  <body>

<footer>
    <div class="text-center py-3 bg-dark text-white">
        <p>
            Copyright &copy; 2022 
            <a href="https://linkedin.com/in/cxclark">
                <span class="text-light">Caroline Clark</span>
            </a>
        </p>
    </div>
</footer>

</body>
</html>