<h1>Austin Attractions</h1>

<table id="list">

    <thead>
      <tr>
        <th>Title</th>
        <th>Address</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>

    <div>
      <tbody>
      <% attractions.forEach(function(attraction) { %>
        <tr>
          <td>
            <%= attraction.title %>
          </td>
          <td>
            <%= attraction.address %>
          </td>
          <td>
            <%= attraction.description %>
          </td>
          <td>
            <a href="/attractions/<%= attraction._id %>">DETAILS</a>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </div>

    <div>
      <a href="/attractions/new">Create a New Attraction</a>
    </div>

  </table>
