/* Add padding for fixed footer */
body {
    padding-bottom: 100px;
}

/* Add styling for truncated text */
.module {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

/* Small image sizing */
.resized-sm {
    height: 300px;
    width: 25rem;
    object-fit: cover;
}

/* Medium image sizing */
.resized-md {
    height: 450px;
    width: 630px;
    object-fit: cover;
}

/* Set button width */
.btn-width {
    width: 80px;
}

/* Set font for titles */
.emphasis-font {
    font-family: 'Lakki Reddy';
}