.module {
    /* width: 250px; */
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.resized {
    height: 300px;
    width: 400px;
    object-fit: cover;
    border: 10px red;
}

.btn-width {
    width: 80px;
}