body {
    /* add padding for fixed footer */
    padding-bottom: 100px;
}

.module {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.resized-sm {
    height: 300px;
    width: 25rem;
    object-fit: cover;
}

.resized-md {
    height: 450px;
    width: 630px;
    object-fit: cover;
}

.btn-width {
    width: 80px;
}

.emphasis-font {
    font-family: 'Lakki Reddy';
}